.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px,
    rgb(0 0 0 / 6%) 0px 0px 0px 1px;
}
img {
  height: 200px;
  width: 200px;
}
.item-primary {
  display: flex;
}
.item-details {
  display: block;
  padding-left: 20px;
}
.title {
  font-size: 18px;
  font-weight: bold;
  padding: 50px 0;
}
.price {
  font-size: 2rem;
  color: #f92323;
}
