.footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px,
    rgb(0 0 0 / 6%) 0px 0px 0px 1px;
  background-color: #ffffff;
  height: 5rem;
  margin-top: 1rem;
  font-size: 2rem;
  padding: 0.83rem;
}
.total-amount {
  display: flex;
}
.price {
  color: #f92323;
  padding-left: 1.2rem;
  font-size: 2rem;
  align-self: center;
}
