app-list-item {
  border: 1px solid #efefef;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.list-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
@media only screen and (max-width: 1200px) {
  .list-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 992px) {
  .list-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .list-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
