<div class="list-wrapper">
    <app-list-item *ngFor="let product of productList" [product]="product"></app-list-item>
</div>
  
  <div class="offcanvas offcanvas-end" tabindex="-1" id="filterModal" aria-labelledby="filterModalLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filter Results</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <app-filters [filters]="filters"></app-filters>
    </div>
  </div>